#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login-container {
  height: 360px;
  width:260px;
  border: 1px solid orange;
  box-shadow: 2px;
}
img {
  height: 40px;
  margin: 30px;
}
.login {
  margin-top: 10px;
  background-color: orangered;
  width: 50%;
  color: white;
}